<div>
  <button class="b btn-outline-success" routerLink="add">Novi partner</button>
  <div>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Edit</th>
          <th scope="col">Naziv</th>
          <th scope="col">Adresa</th>
          <th scope="col">Mjesto</th>
          <th scope="col">Broj Poste</th>
          <th scope="col">Mb</th>
          <th scope="col">Pdv</th>
          <th scope="col">Banka 1</th>
          <th scope="col">Banka 2</th>
          <th scope="col">Banka 3</th>
          <th scope="col">Swift</th>
          <th scope="col">Tip</th>
          <th scope="col">Drzava</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let partner of partners">
          <td><button routerLink="../partneri/edit/{{partner.id}}">Edit</button>
          <button (click)="deletePartner(partner.id)">Delete</button></td>
          <td>{{partner.naziv}}</td>
          <td>{{partner.adresa}}</td>
          <td>{{partner.mjesto}}</td>
          <td>{{partner.brojposte}}</td>
          <td>{{partner.mb}}</td>
          <td>{{partner.pdv}}</td>
          <td>{{partner.bankajedan}}</td>
          <td>
              <div *ngIf="partner.bankadva; else elseBlock">
                  {{partner.bankadva}}
              </div>
              <ng-template #elseBlock>Nije unesena!</ng-template></td>
          <td>
              <div *ngIf="partner.bankatri; else elseBlock">
                  {{partner.bankatri}}  
              </div>
              <ng-template #elseBlock>
                  Nije unesena!
              </ng-template>
          </td>
          <td>
            <div *ngIf="partner.swift; else elseBlock">
                {{partner.swift}}  
            </div>
            <ng-template #elseBlock>
                Nije unesena!
            </ng-template>
        </td>
          <td>{{partner.tip}}</td>
          <td>{{partner.drzava}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>