<div>
    <button class="b btn-outline-success" routerLink="../usluge/add">Nova usluga</button>
    <div>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Options</th>
            <th scope="col">Opis</th>
            <th scope="col">Kolicina</th>
            <th scope="col">Cijena Deviza</th>
            <th scope="col">Cijena KM</th>
            <th scope="col">Faktura Vrijednost</th>
            <th scope="col">Rabat %</th>
            <th scope="col">Iznos Rabata</th>
            <th scope="col">PDV %</th>
            <th scope="col">Iznos PDV-a</th>
            <th scope="col">Osnovica</th>
            <th scope="col">Ukupan iznos</th>
            <th scope="col">Broj fakture</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usluga of usluge">
            <td><button routerLink="../usluge/edit">Edit</button>
            <button>Delete</button></td>
            <td>{{usluga.opis}}</td>
            <td>{{usluga.kolicina}}</td>
            <td>{{usluga.cijenadeviza}}</td>
            <td>{{usluga.cijenakm}}</td>
            <td>{{usluga.fakturnavrijednost}}</td>
            <td>{{usluga.rabat}}</td>
            <td>{{usluga.iznosrabata}}</td>
            <td>{{usluga.pdv}}</td>
            <td>{{usluga.iznospdv}}</td>
            <td>{{usluga.osnovica}}</td>
            <td>{{usluga.ukupaniznos}}</td>
            <td>{{usluga.brojracuna}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>