<button class="btn btn-success" routerLink="../../">Return</button>
<form #stavkaForm="ngForm" (ngSubmit)="addStavku()" autocomplete="off">
    <h2 class="text-center text-primary">Add stavku</h2>
    <hr>
    <div class="mb-3">
        <textarea class="form-control" name="opis" [(ngModel)]="model.opis" cols="30" rows="10" placeholder="Opis"></textarea>
        <input type="text" class="form-control" name="kolicina" [(ngModel)]="model.kolicina" placeholder="Kolicina">
        <input type="text" class="form-control" name="cijenadeviza" [(ngModel)]="model.cijenadeviza" placeholder="Cijena deviza">
        <input type="text" class="form-control" name="rabat" [(ngModel)]="model.rabat" placeholder="Rabat">
        <input type="text" class="form-control" name="pdv" [(ngModel)]="model.pdv" placeholder="Pdv">
        <div class="mb-3">
            <label for="zaglavlja">Zaglavlja</label>
            <select class="form-control" [(ngModel)]="model.zaglavljeracunaid" [ngModelOptions]="{standalone : true}">
                <option [ngValue]="null" disabled>Choose zaglavlje</option>
                <option *ngFor="let zaglavlje of zaglavlja" [ngValue]="zaglavlje.brojracuna">{{zaglavlje.brojracuna}}</option>
            </select>
        </div>
    </div>
    <div class="text-center">
        <button class="btn btn-success me-2" type="submit">Add</button>
    </div>
</form>